body {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 400;
}

h1 {
    font-size: 2em;
    line-height: 1.1;
}

h2 {
    font-size: 1.5em;
}
